<h2>All Historical Landmarks</h2>

<table>
    <th>Landmark</th>
    <% @landmarks.each do |landmark|%>
        <tr><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %> <%= landmark.year_completed %></a></tr>
        <br>
    <%end%>
</table>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
