<h2>Create New Landmark</h2>
<form method ="POST" action = "/landmarks">

Name
<input id = "landmark_name" type = "text" name = "landmark[name]" />
Year Completed
<input id = "landmark_year_completed" type = "text" name = "landmark[year_completed]" />
<input type = "submit" value = "Create New Landmark">



</form>
<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
